<div class="col-md-6 offset-md-3 col-12 card">
    <header class="card-header">
        <h4 class="card-title mt-2">Đổi mật khẩu</h4>
    </header>
    {{# if hasError }}
        <div class="alert alert-danger" role="alert">
            {{# each messages }}
                {{this}}</br>
            {{/each}}
        </div>
    {{/ if }}
    <article class="card-body">
        <form action="/user/profile/change-password" method="POST" onsubmit="return handleChangePassword(this);">
            <div class="form-group">
                <label for="oldPassword">Mật khẩu hiện tại</label>   
                <input id="oldPassword" name="oldPassword" type="password" class="form-control" required autofocus>
            </div> <!-- form-group end.// -->
            <div class="form-group">
                <label for="newPassword">Mật khẩu mới</label>   
                <input id="newPassword" name="newPassword" type="password" class="form-control" required>
            </div> <!-- form-group end.// -->
            <div class="form-group">
                <label for="retype">Nhập lại mật khẩu</label>   
                <input id="retype" type="password" class="form-control" required>
            </div> <!-- form-group end.// -->
            <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
            <div class="form-group text-center">
                <button id="changePassword" type="submit" class="btn btn-primary float-center">Xác nhận</button>
            </div> <!-- form-group// -->                                     
        </form>
    </article> <!-- card-body end .// -->
</div> <!-- card.// -->

<script src="/assets/js/change-password.js"></script>