
  <section id="contentSection">
    <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="#">Technology</a></li>
              <li class="active">Mobile</li>
            </ol>          
          <div class="single-big-img img-ovarlay" style="background-image: url(/images/left-pic-article.jpg)">
            
          </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            
            <h1>Thua đắng ở derby London, Tottenham lỡ cơ hội bứt phá top 3</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Tác giả</a> <span><i class="fa fa-calendar"></i>02/05/2019 6:49 AM</span> <a href="#"><i class="fa fa-tags"></i>Technology</a> </div>
            <div class="single_page_content"> 
              <p>Sau 35 trận đã đấu của Premier League, Tottenham ung dung xếp ở vị trí thứ ba với 70 điểm, nhiều hơn đội bóng xếp sau Chelsea ba điểm. So với các đội đang đua top 4, Tottenham được thi đấu sớm ở vòng 36, họ được thi đấu trên sân nhà tiếp West Ham, đối thủ đã thua 10 trong 17 trận làm khách tại các sân khách mùa giải năm nay. Đó là thời cơ để Tottenham nới rộng cách biệt và có thể chạm một tay vào top 3.</p>
              <img class="img-center" src="/images/left-pic-article.jpg" alt="">
              <blockquote><div class="quote-text">Một trong những cuộc gọi đầu tiên của tôi sau khi được ký hợp đồng là gọi cho Alex Ferguson. Chúng tôi đã nói rất nhiều thứ từ công việc cho đến chuyện riêng tư, nhưng ở đây tôi xin phép không thảo luận về những nội dung đã nói.</div>
              <div class="quote-name">HLV Solskjaer</div>
               </blockquote>
              <ul>
                <li>Nullam vitae nibh odio, non scelerisque nibh</li>
                <li>Nullam vitae nibh odio, non scelerisque nibh</li>
             
              </ul>
              <p>Rất đáng tiếc Tottenham lại thua ở trận đấu có tính then chốt, bàn thắng duy nhất được ghi bởi Michail Antonio ở phút 67 của trận đấu. Tottenham chơi không hay dù thi đấu với đội hình tốt nhất hiện có của họ, đội chủ nhà kiểm soát bóng tới 67% thời gian nhưng chỉ có 14 pha dứt điểm, vỏn vẹn có bốn lần bóng trúng cầu môn đối phương.

              Chỉ số tấn công của Tottenham kém hơn so với đội khách, West Ham có tới 16 pha dứt điểm, bảy lần bóng trúng cầu môn của đối thủ. Đoàn quân của Pellegrini xứng đáng giành chiến thắng, họ chơi bóng phản công nhanh gọn, song đặc biệt hiệu quả. West Ham chỉ thực hiện có 350 đường chuyền ở trận đấu này, thấp hơn hẳn so với Tottenham - 612 đường chuyền, nhưng đội khách ngoài số lần dứt điểm cầu môn vượt trội thì số phạt góc cũng lớn hơn hẳn đội chủ nhà (7-2).

              Thất bại ở trận của vòng 36 Premier League khiến Tottenham không thể gia tăng cách biệt được với nhóm sau nhưng chắc chắn họ vẫn đứng thứ ba sau vòng 36 trừ phi Chelsea thắng cách biệt trước Man Utd tại Old Trafford với khoảng cách trên 8 bàn, điều này gần như không thể xảy ra. Vì vậy theo lý thuyết Tottenham vẫn có quyền tự quyết vị trí thứ ba, nhưng họ sẽ không dễ dàng khi trận tới họ làm khách trên sân Bournemouth và sau đó một tuần sẽ tiếp Everton.</p>

              <div class="mt-30">
                <i class="material-icons" id="icon-center">label</i>
                <!-- <span href="#" class="badge badge-dark">#Ngoại hạng Anh</span> -->
                <a href="#" class="badge badge-dark">#Ngoại hạng Anh</a>
                <!-- <span href="#" class="badge badge-dark">#Top4</span> -->
                <a href="#" class="badge badge-dark">#Top4</a>
                <!-- <span href="#" class="badge badge-dark">#Derby London</span> -->
                <a href="#" class="badge badge-dark">#Derby</a>
              </div>
           
            </div>
            
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>

            <div class="related_post">
              <div class="border-bottom">
                <h2>Bài viết gần đây <!--<i class="fa fa-thumbs-o-up"></i>--></h2>
              </div>
              <ul class="spost_nav wow fadeInDown animated">
                <li>
                  <div class="media"> <a class="media-left resize-img" href="/single-page"> <img src="/images/post_img1.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="/single-page"> Bài viết 1</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left resize-img" href="/single-page"> <img src="/images/post_img2.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="/single-page"> Bài viết 2</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left resize-img" href="/single-page"> <img src="/images/post_img1.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="/single-page"> Bài viết 3</a> </div>
                  </div>
                </li>
              </ul>
            </div>

            <h2 class="page-header">Comments</h2>
            <section class="comment-list">
              <!-- First Comment -->
              <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <figcaption class="text-center">username</figcaption>
                  </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="panel panel-default arrow left">
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                      </header>
                      <div class="comment-post">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Second Comment Reply -->
              <article class="row">
                <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <figcaption class="text-center">username</figcaption>
                  </figure>
                </div>
                <div class="col-md-9 col-sm-9">
                  <div class="panel panel-default arrow left">
                    <div class="panel-heading right">Reply</div>
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                      </header>
                      <div class="comment-post">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Third Comment -->
              <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <figcaption class="text-center">username</figcaption>
                  </figure>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <div class="panel panel-default arrow left">
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                      </header>
                      <div class="comment-post">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                    </div>
                  </div>
                </div>
              </article>
            </section>


            <h2 class="page-header">Ý kiến bạn đọc</h2>
            <div class="contact-form-area">
                <form action="#" method="post">
                  <div class="row">
                      <div class="col-12 col-lg-6">
                          <input type="text" class="comment-form form-control" id="name" placeholder="Your Name*" required="">
                      </div>
                      <div class="col-12 col-lg-6">
                          <input type="email" class="comment-form form-control" id="email" placeholder="Your Email*" required="">
                      </div>
                      <div class="col-lg-12">
                          <textarea name="message" class="comment-form form-control" id="message" cols="20" rows="10" placeholder="Message*" required=""></textarea>
                      </div>
                      <div class="col-lg-12 mb-30 text-align-r">
                          <button class="btn default-btn" type="submit">Submit Comment</button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="/images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="/images/post_img1.jpg" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Tin hot</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Tin hot 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Tin hot 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Tin hot 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Tin hot 4</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Tin hot 5</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar">
            <h2><span>Cùng chuyên mục</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Bài viết 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Bài viết 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title">Bài viết 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Bài viết 4</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="/single-page" class="media-left"> <img alt="" src="/images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="/single-page" class="catg_title"> Bài viết 5</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#tags" aria-controls="profile" role="tab" data-toggle="tab">Tags</a></li>
              <li role="presentation"><a href="#video" aria-controls="messages" role="tab" data-toggle="tab">Video</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">             
                  <ul class="catagory-widgets">
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span style="float: right;">35</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span> <span style="float: right;">30</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span> <span style="float: right;">13</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span> <span style="float: right;">06</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span> <span style="float: right;">28</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span> <span style="float: right;">08</span></a></li>
                    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span> <span style="float: right;">13</span></a></li>
                  </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="tags">
                <ul>
                  <li class="cat-item"><a href="#">the thao</a></li>
                  <li class="cat-item"><a href="#">giao duc</a></li>
                  <li class="cat-item"><a href="#">cong nghe</a></li>
                  <li class="cat-item"><a href="#">tin hot</a></li>
                  <li class="cat-item"><a href="#">truyen</a></li>
                  <li class="cat-item"><a href="#">tuyen sinh</a></li>
                  <li class="cat-item"><a href="#">cong nhan</a></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="/images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>-->
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>