<!DOCTYPE html>
<html>

<head>
    <title>Báo điện tử TH16 - News</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/ssets/css/animate.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        {{> header1 }}
        {{> nav-bar }}
        {{> header2 }}
        {{{ body }}}
        {{> footer }}
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.li-scroller.1.0.js"></script>
    <script src="/assets/js/jquery.newsTicker.min.js"></script>
    <script src="/assets/js/jquery.fancybox.pack.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/handlebars/dist/handlebars.min.js"></script>
    <script src="/handlebars-intl/dist/handlebars-intl.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</body>

</html>