<div class="container-fluid">
  <div class="card" style="min-width: 44rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 border-right">
            
            <h4><i class="fas fa-users"></i> Danh sách users</h4>
            
        </div>     
        <!-- <div class="col">
          <button type="button" class="btn btn-sm btn-primary">Thêm user <i class="fas fa-user-plus"></i></button>
        </div>    -->
      </div>
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Loại user</option>
              <option>Độc giả</option>
              <option>Writer</option>
              <option>Editor</option>
              <option>Administrator</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Chuyên mục</option>
              <option>Thể thao</option>
              <option>Chính trị</option>
              <option>Xã hội</option>
              <option>Công nghệ</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tình trạng</option>
              <option>Hết hạn</option>
              <option>Bị chặn</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block"><i class="fas fa-filter"></i> Lọc</button>
        </div>
      </div> <!-- end filter-->
      <!-- list posts -->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover ">
            <thead class="bg-light ">
              <tr>
<<<<<<< Updated upstream
                <th>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                       </label>
                   </div>
                </th>  
=======
>>>>>>> Stashed changes
                <th>Avatar</th>
                <th>Tên người dùng</th>
                <th>Loại người dùng</th>
                <th>Tài khoản</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                       </label>
                   </div>
                </td>  
                <td><a href="#">
                  <img class="avatar" src="/images/avatar_ironman.png" alt="Avatar" >
                </a></td>
                <td><small>Robert John Downey, Jr</small></td>
                <td>
                      <!-- <div class="form-group">
                              <select id="categories" class="form-control">
                                <option selected>Loại user</option>
                                <option>Độc giả</option>
                                <option>Writer</option>
                                <option>Editor</option>
                                <option>Administrator</option>
                              </select>
                            </div> -->
                            <select class="custom-select custom-select-sm">
                                  <option selected>Open this select menu</option>
                                  <option value="1" selected>Độc giả</option>
                                  <option value="2">Writer</option>
                                  <option value="3">Editor</option>
                                  <option value="4">Administrator</option>
                                </select>
                </td>
<<<<<<< Updated upstream
                <td>
                      <!-- <div class="form-group">
                              <select id="categories" class="form-control">
                                <option selected>Chuyên mục</option>
                                <option>Thể thao</option>
                                <option>Chính trị</option>
                                <option>Xã hội</option>
                                <option>Công nghệ</option>
                              </select>
                            </div> -->
                            <select class="custom-select custom-select-sm" disabled>
                                  <option selected>Chuyên mục</option>
                                  <option value="1">Thể thao</option>
                                  <option value="2">Chính trị</option>
                                  <option value="3">Xã hội</option>
                                  <option value="4">Công nghệ</option>
                                </select>
                </td>
                <!-- <td><a href="#"><small>5</small></a></td> -->
                <td> <i class="fa fa-user-clock"></i> Còn hạn </td>
=======
                <td><small>{{this.account}}</small></td>
                <td> <i class="fa fa-user-clock"></i> {{status}} </td>
>>>>>>> Stashed changes
                <td>
                  <!-- <a href="#"><i class="fa fa-eye" title="Xem chi tiết bài viết"></i></a> -->
                  
                  <a href="#"><i class="fa fa-user-edit" title="Cập nhật thông tin"></i></a>
                  <a href="#"><i class="fa fa-calendar-plus" title="Gia hạn"></i></a>
                  <a href="#"><i class="fa fa-trash" title="Xóa bài viết"></i></a>
                  
                </td>
              </tr>
              <tr>
                <td>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                       </label>
                   </div>
                </td>  
                <td><a href="#">
                    <img class="avatar" src="/images/avatar_nghiatdh.png" alt="Avatar" >
                  </a></td>
                <td><small>Tạ Đăng Hiếu Nghĩa</small></td>
                <td>
                      <select class="custom-select custom-select-sm">
                              <option selected>Open this select menu</option>
                              <option value="1">Độc giả</option>
                              <option value="2">Writer</option>
                              <option value="3" selected>Editor</option>
                              <option value="4">Administrator</option>
                            </select>
                </td>
                <td>
                      <select class="custom-select custom-select-sm" disabled>
                              <option selected>Chuyên mục</option>
                              <option value="1" >Thể thao</option>
                              <option value="2">Chính trị</option>
                              <option value="3">Xã hội</option>
                              <option value="4">Công nghệ</option>
                            </select>
                </td>
                <!-- <td><a href="#"><small>5</small></a></td> -->
                <td><i class="fa fa-user-shield"></i> Được bảo vệ </td>
                <td>
                  <!-- <a href="#"><i class="fa fa-eye" title="Xem chi tiết bài viết"></i></a> -->
                  
                  <a href="#"><i class="fa fa-user-edit" title="Cập nhật thông tin"></i></a>
                  <a href="#"><i class="fa fa-trash" title="Xóa bài viết"></i></a>
                </td>
              </tr>   
              <tr>
                  <td>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="">
                         </label>
                     </div>
                  </td>  
                  <td><a href="#">
                      <img class="avatar" src="/images/avatar.png" alt="Avatar" >
                    </a></td>
                  <td><small>Nguyễn Ngọc Nghĩa</small></td>
                  <td>
                        <select class="custom-select custom-select-sm">
                                <option selected>Open this select menu</option>
                                <option value="1">Độc giả</option>
                                <option value="2">Writer</option>
                                <option value="3">Editor</option>
                                <option value="4"selected>Administrator</option>
                              </select>
                  </td>
                  <td>
                        <select class="custom-select custom-select-sm" disabled>
                                <option selected>Chuyên mục</option>
                                <option value="1">Thể thao</option>
                                <option value="2">Chính trị</option>
                                <option value="3">Xã hội</option>
                                <option value="4">Công nghệ</option>
                              </select>
                  </td>
                  <!-- <td><a href="#"><small>5</small></a></td> -->
                  <td><i class="fa fa-user-shield"></i> Được bảo vệ </td>
                  <td>
                    <!-- <a href="#"><i class="fa fa-eye" title="Xem chi tiết bài viết"></i></a> -->
                   
                    <a href="#"><i class="fa fa-user-edit" title="Cập nhật thông tin"></i></a>
                    <a href="#"><i class="fa fa-trash" title="Xóa bài viết"></i></a>
                  </td>
                </tr>  
                <tr>
                    <td>
                        <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                           </label>
                       </div>
                    </td>  
                    <td><a href="#">
                        <img class="avatar" src="/images/avatar_dang.png" alt="Avatar" >
                      </a></td>
                    <td><small>Đặng Ngọc Nghĩa</small></td>
                    <td>
                          <select class="custom-select custom-select-sm">
                                  <option >Open this select menu</option>
                                  <option value="1">Độc giả</option>
                                  <option value="2" selected>Writer</option>
                                  <option value="3">Editor</option>
                                  <option value="4">Administrator</option>
                                </select>
                    </td>
                    <td>
                          <select class="custom-select custom-select-sm">
                                  <option selected>Chuyên mục</option>
                                  <option value="1" >Thể thao</option>
                                  <option value="2">Chính trị</option>
                                  <option value="3">Xã hội</option>
                                  <option value="4">Công nghệ</option>
                                </select>
                    </td>
                    <!-- <td><a href="#"><small>5</small></a></td> -->
                    <td><i class="fa fa-user-slash"></i> Bị chặn</td>
                    <td>
                      <!-- <a href="#"><i class="fa fa-eye" title="Xem chi tiết bài viết"></i></a> -->
                      
                      <a href="#"><i class="fa fa-user-edit" title="Cập nhật thông tin"></i></a>
                      <a href="#"><i class="fa fa-trash" title="Xóa bài viết"></i></a>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <!-- <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">
                             </label>
                         </div> -->
                      </td>  
                      <td><a href="#">
                          <img class="avatar" src="/images/people_plus.png" alt="Avatar" >
                        </a></td>
                      <td><small><input type="text" class="form-control" id="name"></small></td>
                      <td>
                            <select class="custom-select custom-select-sm">
                                    <option selected>Cấp quyền</option>
                                    <option value="1">Độc giả</option>
                                    <option value="2">Writer</option>
                                    <option value="3">Editor</option>
                                    <option value="4">Administrator</option>
                                  </select>
                      </td>
                      <td>
                            <select class="custom-select custom-select-sm" disabled>
                                    <option selected>Chuyên mục</option>
                                    <option value="1" >Thể thao</option>
                                    <option value="2">Chính trị</option>
                                    <option value="3">Xã hội</option>
                                    <option value="4">Công nghệ</option>
                                  </select>
                      </td>
                      <!-- <td><a href="#"><small>5</small></a></td> -->
                      <td>
                          <select class="custom-select custom-select-sm" disabled>
                              <option selected>Trạng thái</option>
                             
                            </select> 
                      </td>
                      <td>
                        <div class="col">
                          <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-user-plus"></i></button>
                        </div>   
                      </td>
                    </tr>    
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>